db:
  restart: always
  image: mysql
  volumes:
    - ./mysql/runtime:/var/lib/mysql
  environment:
    - MYSQL_RANDOM_ROOT_PASSWORD=true
    - MYSQL_USER={{username}}
    - MYSQL_PASSWORD={{password}}
    - MYSQL_DATABASE={{database}}
piwik:
  build: '.'
  restart: always
  volumes:
    - ./config:/var/www/html/config
    - ./ssmtp.conf:/etc/ssmtp/ssmtp.conf
    - ./revaliases:/etc/ssmtp/revaliases
    - ./certs:/etc/ssl
    - ./000-default.conf:/etc/apache2/sites-available/default-ssl.conf
  links:
    - db
  ports:
    - '80:80'
    - '443:443'
